body{
			background: #f8f8fd;
		}

		body *{
			margin: 0;
			padding: 0;
		}

		div{
			border: 0px solid #000;
		}

		#mainContainer{
			margin: 0 auto;
			width: 1202px;
			/*border: 1px solid #000;*/
			/*background: black;*/

		}

		#header{
			background: url(img/header.jpg) repeat-x;
			height: 33px;
			text-align: right;
			opacity: 0.8;
			padding-top: 5px;
		}

			.headerMenu{
				color: white;
				text-decoration: none;
				margin-right: 10px;
			}

			#telNumber, #emailAddrs, #openHours{
				color: white;
				margin-right: 50px;
				text-align: left;
			}
	
			#openHours{
				margin-right: 350px;
			}


		#menu{
			background: url(img/upper_menu.jpg) repeat-x;
			height: 87px;
			width: 100%;	
			position: absolute;
			left: 0;
			top: 12%;
			opacity: 0.8;
			font-family: none;
		}

			
			#menu>div{
				height: 100%;
				float: left;
				margin-right: 25px;
			}

				#menu>div:hover{
					background: url(img/menu_hover.png) center;
				}

				#menu>div>a{
					color: black;
					font-size: 1.2em;
					text-decoration: none;
					display: block;
					height: 60%;
					width: 100%;
					padding-top: 32px; 
				}

				#menu>div#first{
					margin-left: 32%;
				}

		#companyName{
			font-family: Gabriola;
			font-weight: bolder;
			font-size: 3.5em;
			position: absolute;
			right: 10px;
			top: 24%;
		}

		#slideshow{
			background: url(img/logo.png) center no-repeat;
			height: 920px;		
			text-align: right;
			position: relative;

		}

		#caption{
			background: #f8f8fd url(img/caption.png) top;
			height: 78px;
			width: 100%;
			text-align: center;
			font-size: 1.5em;
			letter-spacing: 1px;
			position: absolute;
			left: 0;
			bottom: 20%;
			opacity: 0.8;
			padding-top: 50px;

		}

		#itemsOfInterest{
			padding: 0 auto;
		}

		.itemOfInterest{
			width: 24%;
			height: 270px;
			vertical-align: top;
			background: url(img/item_of_interest.png) center no-repeat;
			text-align: center;
			float: left;
			padding: 0 6px;
		}

			.itemOfInterest h3{
				padding-top: 55px;
			}

			.itemOfInterest span{
				display: block;
				margin: 40px auto;
				width: 55%;
				font-style: italic;
				font-weight: bold;
			}

		.search{
			width: 25%;
			height: 41px;
			background: url(img/search_bar.jpg) repeat-x;
			color: white;
			text-align: center;
			text-transform: uppercase;
			float: left;
			padding-top: 25px;
		}

			.search img{
				margin-top: -10px;
			}

			.search input{
				background: transparent;
				color: white;
				letter-spacing: 2px;
				font-style: italic;
				border-style: dotted;
				padding: 5px;
				margin-top: -5px;
			}


		#footer{
			background: url(img/footer.jpg) repeat-x;
			height: 40px;
			color: grey;
			text-align: right;
			padding-right: 25px;
			padding-top: 10px;
			clear: both;
		}